*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// tipografias
// font-family: 'Kanit', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Spectral', serif;
.tarjeta{
    border: solid 1px black;
}
@mixin color($variable){
    background-color: $variable;
}