/* resetea los estilos default de los navegadores */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Tiene 400, 400i, 600, 600i */
body{
    font-family: 'Spectral', serif;
}
main {
    background-color: #CEAB93;
}