.pie {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    background-color: #AD8B73;
    text-align: center;
}
.discord {
    width: 100px;
    height: 52px;
}
.twitter {
    width: 50px;
    height: 50px;
}
/* Codigo del header */
header {
    background-color: #E3CAA5;
    height: 70px;
    width: 100%;
}
.slp {
    width: 60px;
    height: 60px;
}
nav {
    display: grid;
    grid-template-columns: 60px repeat(3, 1fr);
}
.grid__hijo{
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.grid__hijo--4 ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
.grid__hijo--4 ul li a {
    text-decoration: none;
}
h1 {
    color: rgb(8, 66, 141);
    font-weight: 600;
    animation-name: rebote;
    animation-duration: 2s;
}
@keyframes rebote{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scaleX(1.3);
        transform: scaleY(0.7);
    }
    50%{
        transform: scaleX(0.7);
        transform: scaleY(1.3);
    }
    75%{
        transform: scaleX(1.3);
        transform: scaleY(0.7);
    }
    100%{
        transform: scale(1);
    }
}