.general {
    display: flex;
}
.general__div1 {
    width: 50%;
    position: relative;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.general__div2 {
    height: 472px;
    width: 50%;
    padding: 5px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
}
.div1__ronin {
    display: inline-block;
    width: 18rem;
    height: 18rem;
}
.div1__flow {
    overflow: hidden;
}
.div1__ronin:hover {
    animation-name: zoom;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.div1__caja {
    display: inline-block;
}
.div1__titulo {
    display: absolute;
}
.general__div2 div {
    border: 1px solid black;
}
.general__div2 div p {
    padding-left: 4px;
}
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}